
{% extends 'base.html' %}{% load static %}
{% block content %}
    <div class="container-fluid mt-3">
        <h1 class="text-center heading">Convert Image To Text </h1>
        <p class="line-1 anim-typewriter mt-4">This free online tool allows you to convert from image to text.</p>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">Upload Image</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data" id="upload-form" action="{% url 'uploaded' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="image">Select Image:</label>
                                <input type="file" name="image" id="image" class="form-control-file">
                            </div>
                            {% if message %}
                                <div class="error">{{ message }}</div>
                            {% endif %}
                            <button type="submit"  class="btn btn-primary">Upload</button>
                            <div id="spinner" style="display: none;">
                                <i class="fa fa-spinner fa-spin"></i> Uploading...
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}